<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
      <!-- Modal -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    {{ JSGlue.include() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
     <script src="{{ url_for('static', filename="js/leaflet.ajax.min.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/ActiveLayers.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/SelectLayers.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/html2canvas.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/html2canvas.min.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/html2canvas.svg.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/html2canvas.svg.min.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/leaflet_export.js") }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/index.css") }}"></script>
    
    


</head>
<body>
    
    <header>
        <h1 id="header">
            MAPA DE RIESGOS CLIMÁTICOS <br>        
            <p class="p2">Viña del Mar y Valparaíso</p>
        </h1> 
           
    </header>
    <div class="row">
        <div class="col head1" > <a href="/static/pdf/Instructivo_WMS_WGIS.pdf" target="_blank" style="color:white;">  Acceder como WMS/QGIS </a> </div>
        <div class="col head2" > <a href="/static/pdf/Informe%20ARCLIM%20piloto%20Vi%C3%B1a%20Valpo.pdf" target="_blank" style="color:white;"> Informe Mapa de Riesgos</a></div>
        <div class="col head3 text-center" > <a href="/static/shapefiles/shapefiles.zip" target="_blank" style="color:white;">  Descarga de archivos </a></div>
    </div>
    <div class="row">
        <div class="column1">
            <p class="p1">
                El riesgo climático considera índices de amenaza, exposición, sensibilidad y capacidad de respuesta.  El estudio tiene una resolución a nivel de manzana censal.
                 <br>
            </p>
            
            <p class="p3">
                Amenazas Climáticas:
            </p>
            <div id='jpt'></div>
            <p class="p3">
                Escala de colores:
            </p>
            <!-- The second value will be selected initially -->
            <select name="select" id="myOption" onchange="changeColorMap()" class="select_legend form-control form-control-sm"  placeholder=".form-control-sm">
                <option value="none">None</option>
                <option value="l1">Leyenda 1</option>
                <option value="l2">Leyenda 2</option>
                <option value="l3">Leyenda 3</option>
            </select>
            <div class="downloadbuttom">
                <button class="btn btn-secondary btn-sm" onclick="downloadMap()">Descargar mapa </button>
                <!--<button class="btn btn-secondary" onclick="exportMap()">Export map </button>
                <button class="btn btn-secondary" onclick="printMap()">Print map </button>-->

            </div>
         
            
            <p class="p1">
                Los datos se deben citar de la siguiente manera:
                "Alamos, N., Billi, M., Amigo, C., Urquiza, A., Winckler, P., Larraguibel, C., … Valdebenito, C. (2021, April 8). Fuzzy logic modelling to assess high resolution spatial urban climatic risk impact in Valparaiso, Chile. <a href="https://osf.io/2xtvs/">DOI 10.17605/OSF.IO/2XTVS</a>".


            </p>

            <p class="p1">
                ¿Tienes alguna duda o consulta sobre este mapa? Escríbenos a contacto@nest-r3.com 

            </p>
               
             
            <div class="image">
                <img src="{{ url_for('static', filename="images/cr2.jpg") }}" alt="Logo1", style="width:100px;">
                <img src="{{ url_for('static', filename="images/logo2.jpeg") }}" alt="Logo2", style="width:100px;"> 
                <img src="{{ url_for('static', filename="images/puc.png") }}" alt="Logo3", style="width:100px;">
                <img src="{{ url_for('static', filename="images/mv.png") }}" alt="Logo4", style="width:100px;">
                <img src="{{ url_for('static', filename="images/uv.png") }}" alt="Logo5", style="width:100px;">
                <img src="{{ url_for('static', filename="images/imv.png") }}" alt="Logo6", style="width:100px;">
                <img src="{{ url_for('static', filename="images/logo_CAC_Final.jpg") }}" alt="Logo7", style="width:200px;">
                

            
            </div>
        </div>
        <div class="column2">
            <p id='title'>
                <div class="menuitem" data="Calor Extremo" id="msc-1"> 
                    <h4>Mapa de Riesgo ante Calor Extremo</h4>
                    El mapa de Riesgo muestra la distribución relativa del riesgo asociado a
                    condiciones de calor extremo, reflejando una combinación de los patrones observados en
                    los mapas mostrados anteriormente. En términos generales, el riesgo se concentra en la
                    parte más interior y periférica de ambas comunas donde, como vimos en los mapas
                    anteriores, hay mayor presencia de episodios de calor extremo y de sensibilidad
                    poblacional. Por otro lado, destaca el menor riesgo que presenta la zona de playa ancha en
                    Valparaíso acorde a la menor amenaza registrada en dicha zona.</div>
                <div class="menuitem" data="Inundaciones" id="msc-2">
                    <h4>Mapa de Riesgo ante Inundaciones por desbordes de
                        colectores de aguas lluvias, ríos, esteros y quebradas</h4>
                        El mapa de riesgo muestra la distribución relativa del Riesgo asociado a
                        inundaciones, solo se presenta riesgo en las áreas donde
                        existe la amenaza. Permite
                        considerar ciertas áreas que a pesar de estar escasamente amenazadas presentan un
                        riesgo mayor debido a sus condiciones de exposición y vulnerabilidad.
                    </div>
                <div class="menuitem" data="Marejadas" id="msc-3">
                    <h4>Mapa de Riesgo ante Inundaciones del borde costero por marejadas</h4>
                    El mapa de riesgo muestra la distribución relativa del riesgo asociado a
                    marejadas, solo se presenta riesgo en las áreas donde existe la amenaza. 
                    El riesgo permite considerar ciertas áreas que a pesar de estar escasamente amenazadas presentan un
                    riesgo mayor debido a sus condiciones de vulnerabilidad y exposición. Se
                    destaca el alto riesgo que presenta la parte norte de la comuna de Valparaíso.
                    </div>
                <div class="menuitem" data="Remoción en Masa" id="msc-4">
                    <h4>Mapa de Riesgo ante Remoción en masa y deslizamientos</h4>
                    El mapa de riesgo muestra la distribución relativa del riesgo asociado a remoción
                    en masa y deslizamientos, solo se presenta riesgo en las áreas
                    donde existe la amenaza. Permite considerar ciertas áreas que, pese a estar escasamente
                    amenazadas, presentan un riesgo mayor debido a las condiciones de vulnerabilidad y
                    exposición. Se destaca el alto riesgo que presenta toda la periferia de
                    Valparaíso. También la parte de quebradas al sur de Playa Ancha, en donde a
                    pesar de poseer el índice de amenaza más alto, el riesgo no lo es tanto, debido a la baja
                    exposición que presenta dicho sector.
                    El caso de Valparaíso y la amenaza de remoción en masa y deslizamientos es emblemático
                    “dada la topografía donde se emplaza la ciudad, la irregular ocupación de sus cerros, la
                    ausencia o deficiencias de los sistemas de evacuación de lluvias, la intervención de
                    quebradas, la presencia de microbasurales, entre otros factores” (Muñoz et al. 2019).
                    Finalmente no se debe obviar la presencia de algunos sectores de alto riesgo en Viña del
                    Mar, donde la alta vulnerabilidad de dichos se hace presente en el Mapa de riesgo.</div>
                <div class="menuitem" data="Incendios Forestales" id="msc-5">
                    <h4>Mapa de Riesgo ante Incendios Forestales</h4>
                    Mapa de Riesgo ante Incendios muestra 
                    la distribución relativa del riesgo asociado a incendios forestales, solo se presenta riesgo en las áreas donde
                    existe la amenaza. Permite
                    considerar ciertas áreas que a pesar de estar escasamente amenazadas presentan un
                    riesgo mayor debido a sus condiciones de vulnerabilidad y exposición. Destaca
                    especialmente el cruce de áreas amenazadas con sectores vulnerables donde existen
                    asentamientos irregulares y condiciones de sensibilidad poblacional, además de una baja
                    capacidad de respuesta, acentuando la condición de riesgo de dichas zonas periféricas.</div>
            </p>
            
            <div class="folium-map" id="map_64b9894af4814ae08fe869ab362ce2b4" ></div>  
           
            
        </div>
      
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="top:235px;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title general-text">Por favor, tener en consideración:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body general-text">
                    <p>
                        <ul>
               
                            <li> Este estudio está limitado a las zonas urbanas de las comunas de Valparaíso y Viña del Mar, Región de Valparaíso, Chile. El proyecto se originó al alero del proyecto Atlas de Riesgos Climáticos del Ministerio de Medio Ambiente de Chile (<a href='https://arclim.mma.gob.cl/'>ARClim</a>)</li>
                            <li> Los resultados son relativos al territorio de estudio y no son comparables ni extrapolables a otras comunas o regiones.</li>
                            <li> Los resultados muestran el riesgo presente (2014-2018), el cual podría variar en el futuro, como efecto de una intensificación del cambio climático o los patrones de urbanización. En este análisis no se consideran proyecciones climáticas futuras.</li>
                           
                        </ul>


                       
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    
        
  
    
</body>
<script type="text/javascript" src="{{ url_for('static', filename="js/legends.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/index.js") }}"></script>