<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>

    
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
      <!-- Modal -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    {{ JSGlue.include() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
     <script src="{{ url_for('static', filename="js/leaflet.ajax.min.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/ActiveLayers.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/SelectLayers.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/html2canvas.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/html2canvas.min.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/html2canvas.svg.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/html2canvas.svg.min.js") }}"></script>
     <script  src="{{ url_for('static', filename="js/leaflet_export.js") }}"></script>
     <!-- <script  src="{{ url_for('static', filename="js/FileSaver.js") }}"></script>-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/index.css") }}"></script>
    
    


</head>
<body>
    
    <header>
        <h1 id="header">
            MAPA DE RIESGOS CLIMÁTICOS <br>        
            <p class="p2">Viña del Mar y Valparaíso</p>
        </h1> 
           
    </header>
    <div class="row">
        <div class="col head1" > <a href="/static/pdf/Instructivo_WMS_WGIS.pdf" target="_blank" style="color:white;">  Acceder como WMS/QGIS </a> </div>
        <div class="col head2" > <a href="/static/pdf/Informe%20ARCLIM%20piloto%20Vi%C3%B1a%20Valpo.pdf" target="_blank" style="color:white;"> Informe Mapa de Riesgos</a></div>
        <div class="col head3" > <a href="/static/shapefiles/shapefiles.zip" target="_blank" style="color:white;">  Descarga de archivos </a></div>
        <div class="col head3" > <a target="_blank" href="https://arclim.mma.gob.cl/" style="color:white;"> Proyecto ARClim </a></div>
    </div>
    <div class="row">
        <div class="column1">
            <p class="p1">
                El riesgo climático considera índices de amenaza, exposición, sensibilidad y capacidad de respuesta.  El estudio tiene una resolución a nivel de manzana censal.
                 <br>
            </p>
            <div class="row">
                <div class="col">
                    <p class="p3">
                        1. Selecciona una amenaza climática:
                    </p>
                    <div id='jpt'></div>
                </div>
                <div class=col>
                    <p class="p3">
                        3. Elige la escala de colores para visualizar el riesgo
                    </p>
                    <!-- The second value will be selected initially -->
                    <select name="select" id="myOption" onchange="changeColorMap()" class="select_legend form-control form-control-sm"  placeholder=".form-control-sm">
                        <option value="none">None</option>
                        <option value="l1">Verde a Rojo</option>
                        <option value="l2">Morado a amarillo</option>
                        <option value="l3">Amarillo a negro</option>
                    </select>
                    <div class="downloadbuttom">
            
                        <button class="btn btn-secondary btn-sm" onclick="downloadMap()" >Descargar mapa </button>
                        <!--<button class="btn btn-secondary" onclick="exportMap()">Export map </button>
                        <button class="btn btn-secondary" onclick="printMap()">Print map </button>-->
            
                    </div>
                    

                </div>
                
            </div>
            
         
            
            <p class="p1">
                Los datos se deben citar de la siguiente manera:
                "Alamos, N., Billi, M., Amigo, C., Urquiza, A., Winckler, P., Larraguibel, C., … Valdebenito, C. (2021, April 8). Fuzzy logic modelling to assess high resolution spatial urban climatic risk impact in Valparaiso, Chile. <a href="https://osf.io/2xtvs/">DOI 10.17605/OSF.IO/2XTVS</a>".


            </p>

            <p class="p1">
                ¿Tienes alguna duda o consulta sobre este mapa? Escríbenos a contacto@nest-r3.com 

            </p>
               
            <div class="row">
                <div class="col">
                    <div class="image">
                        <p class="p3">Patrocinadores:</p>
                        <a target="_blank" href="https://arclim.mma.gob.cl/"><img src="{{ url_for('static', filename="images/logo_arclim_2.jpg") }}" alt="Logo8", style="width:100px;"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="image">
                        <p class="p3">Responsables:</p>
                        <a target="_blank" href="https://www.nest-r3.com/"><img src="{{ url_for('static', filename="images/logo2.jpeg") }}" alt="Logo2", style="width:80px;"></a>
                        <a target="_blank" href="https://www.cr2.cl/"><img src="{{ url_for('static', filename="images/cr2.jpg") }}" alt="Logo1", style="width:80px;"></a>
                        
                      
                    </div>
                </div>
            </div> 
            
            <div class="image">
                <p class="p3">Colaboradores:</p>
                <a target="_blank" href="https://www.pucv.cl/"><img src="{{ url_for('static', filename="images/puc.png") }}" alt="Logo3", style="width:100px;"></a>
                <a target="_blank" href="https://www.municipalidaddevalparaiso.cl/"><img src="{{ url_for('static', filename="images/mv.png") }}" alt="Logo4", style="width:100px;"></a>
                <a target="_blank" href="https://www.uv.cl/"><img src="{{ url_for('static', filename="images/uv.png") }}" alt="Logo5", style="width:100px;"></a>
                <a target="_blank" href="https://www.vinadelmarchile.cl/"><img src="{{ url_for('static', filename="images/imv.png") }}" alt="Logo6", style="width:70px;"></a>
                <a target="_blank" href=""><img src="{{ url_for('static', filename="images/logo_CAC_Final.jpg") }}" alt="Logo7", style="width:130px;"></a>
                
                

            </div>
            
        </div>
        <div class="column2">
            <p id='title'>
                <div class="menuitem" data="Calor Extremo" id="msc-1">
                    
                    <h4><img src="/static/images/calor extremo.png" alt="icon1" ,="" style="width:30px; padding:3px;">Mapa de Riesgo ante Calor Extremo</h4>
                    Actualizar texto introductorio del mapa. Cambiar descripción por: "El mapa muestra cómo se distribuye el riesgo relativo asociado a condiciones de calor extremo. En esta amenaza, no se distinguen patrones claros en la distribución del riesgo.  
                </div>
                <div class="menuitem" data="Inundaciones" id="msc-2">
                    <h4> <img src="/static/images/inundaciones.png" alt="icon2" ,="" style="width:30px; padding:3px;">Mapa de Riesgo ante Inundaciones por desbordes de
                        colectores de aguas lluvias, ríos, esteros y quebradas</h4>
                        El mapa muestra cómo se distribuye el riesgo relativo asociado a inundaciones por desbordes de colectores de aguas lluvias, situación que puede ocurrir asociada a precipitaciones extremas. El riesgo se presenta solo en áreas donde existe amenaza, la que se ubica en torno a ríos, esteros y quebradas, destacando principalmente las zonas aledañas a las desembocaduras de los esteros Marga-Marga y Reñaca. Además, existen ciertas áreas asociadas a los recorridos de los colectores de la comuna de Valparaíso, que pese a tener una baja amenaza, presentan un riesgo alto debido a sus condiciones de exposición, sensibilidad y capacidad de respuesta. resentan un
                        riesgo mayor debido a sus condiciones de exposición y vulnerabilidad.
                </div>
                <div class="menuitem" data="Marejadas" id="msc-3">
                    <h4> <img src="/static/images/marejadas.png" alt="icon3" ,="" style="width:30px; padding:3px;">Mapa de Riesgo ante Inundaciones del borde costero por marejadas</h4>
                    El mapa muestra cómo se distribuye el riesgo relativo asociado a marejadas. Solo se presenta riesgo en las áreas donde existe la amenaza, en este caso, a lo largo del borde costero. El análisis de riesgo permite considerar ciertas áreas que, pese a tener una baja amenaza presentan un riesgo mayor debido a sus condiciones de exposición, sensibilidad y capacidad de respuesta. Destaca un mayor riesgo en las zonas aledañas a las desembocaduras de los esteros Marga marga y Reñaca en la comuna de Viña del Mar
                </div>
                <div class="menuitem" data="Remoción en Masa" id="msc-4">
                    <h4><img src="/static/images/remociones en masa.png" alt="icon3" ,="" style="width:30px; padding:3px;">Mapa de Riesgo ante Remoción en masa y deslizamientos</h4>
                    El mapa muestra cómo se distribuye el riesgo relativo asociado a remoción en masa y deslizamientos de tierra y escombros. Solo se identifica riesgo en aquellas áreas donde existe amenaza, la que puede ser derivada de fenómenos de precipitaciones intensas. Destaca el alto riesgo que presenta la periferia urbana de la comuna de Valparaíso. El caso de Valparaíso y esta amenaza en particular resulta emblemático, asociado a la topografía de la ciudad, las condiciones irregulares de sus cerros, la intervención en quebradas, las deficiencias de sistemas de evacuación de lluvias y la presencia de microbasurales, entre otras condiciones. 
                </div>
                <div class="menuitem" data="Incendios Forestales" id="msc-5">
                    <h4><img src="/static/images/incendios.png" alt="icon3" ,="" style="width:30px; padding:3px;">Mapa de Riesgo ante Incendios Forestales</h4>
                    El mapa muestra cómo se distribuye el riesgo relativo ante incendios forestales. Solo se presenta riesgo en áreas donde existe la amenaza. Destaca el alto riesgo presente en la periferia urbana de ambas comunas, donde convergen áreas amenazadas con sectores que presentan altas condiciones de vulnerabilidad, asociadas a asentamientos informales y otras condiciones de sensibilidad poblacional, además de una baja capacidad de respuesta.
                </div>
            </p>
            
            <div class="folium-map" id="map_64b9894af4814ae08fe869ab362ce2b4" ></div>  
            
        
           
            
        </div>
      
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="top:235px;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title general-text">Por favor, tener en consideración:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body general-text">
                    <p>
                        <ul>
               
                            <li> Este estudio está limitado a las zonas urbanas de las comunas de Valparaíso y Viña del Mar, Región de Valparaíso, Chile. El proyecto se originó al alero del proyecto Atlas de Riesgos Climáticos del Ministerio de Medio Ambiente de Chile (<a href='https://arclim.mma.gob.cl/'>ARClim</a>)</li>
                            <li> Los resultados son relativos al territorio de estudio y no son comparables ni extrapolables a otras comunas o regiones.</li>
                            <li> Los resultados muestran el riesgo presente (2014-2018), el cual podría variar en el futuro, como efecto de una intensificación del cambio climático o los patrones de urbanización. En este análisis no se consideran proyecciones climáticas futuras.</li>
                           
                        </ul>


                       
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    
        
  
    
</body>
<script type="text/javascript" src="{{ url_for('static', filename="js/legends.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/index.js") }}"></script>